<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>162326246278-sv8dnsi2cf289712ai8e139950gf91im.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162326246278-sv8dnsi2cf289712ai8e139950gf91im</string>
	<key>API_KEY</key>
	<string>AIzaSyDlLN7wCpquzbdzrAbHiPF2j78vmogdvZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>162326246278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sqexamen.sqExamenp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>amst-exfinal</string>
	<key>STORAGE_BUCKET</key>
	<string>amst-exfinal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162326246278:ios:e28bde351cf79d52687207</string>
	<key>DATABASE_URL</key>
	<string>https://amst-exfinal-default-rtdb.firebaseio.com</string>
</dict>
</plist>